    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">{{ .Site.Params.footer.copyright }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {{ range .Site.Params.footer.btn }}
                        <li><a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        {{ range .Site.Params.footer.link}}
                        <li><a href="{{ .url }}">{{ .title }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </footer>

