    <div class="portfolio-modal modal fade" id="{{ .Title | urlize}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" align="{{ .Params.align }}">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>{{ .Title }}</h2>
                            <p class="item-intro text-muted">{{ .Description }}</p>
                            {{ .Content }}
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> {{ $.Site.Params.modal.close }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
