{{ $section := "people" }}
{{ $name := .Get "name" }}
{{ $role := .Get "role" }}
{{ $usesocial := .Get "usesocial" }}

{{ range where (where .Page.Site.Pages "Section" $section) "Title" $name }}
<div class="col-sm-4">
    <div class="team-member">
        <img src="{{ .Params.image }}" class="img-responsive img-circle" alt="">
        <h4>{{ .Title }}</h4>
        <p class="text-muted">
        {{ if $role }}
            {{ $role }}
        {{ else }}
            {{ .Description }}
        {{ end }}
        </p>
        {{ if $usesocial }}
        <ul class="list-inline social-buttons">
            {{ range .Params.social }}
            <li><a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</div>
{{ end }}
