                            {{ $type := .Get "type" }}
                            {{ $ph := .Get "placeholder" }}
                            {{ $id := .Get "id" }}
                            {{ $msg := .Get "message" }}
                            <div class="form-group">
                                <input type="{{ $type }}" class="form-control" placeholder="{{ $ph }}" id="{{ $id }}" required data-validation-required-message="{{ $msg }}">
                                <p class="help-block text-danger"></p>
                            </div>
